.themeToggle {
  display: inline-block;
  touch-action: pan-x;
  position: relative;
  user-select: none;
  vertical-align: middle;
  margin-right: 1rem;
  cursor: pointer;
}

.themeToggleTrack {
  width: 50px;
  height: 24px;
  border-radius: 30px;
  background-color: #4d4d4d;
  transition: 0.2s;
}

.themeToggleTrackCheck {
  width: 14px;
  left: 8px;
  opacity: 0;
  transition: opacity 0.25s;
}

.themeToggleTrackCheck,
.themeToggleTrackX {
  height: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  position: absolute;
}
.themeToggleTrackX {
  width: 10px;
  right: 10px;
}
.themeToggleChecked .themeToggleTrackCheck,
.themeToggleTrackX,
[data-theme='dark'] .themeToggle .themeToggleTrackCheck {
  opacity: 1;
  transition: opacity 0.25s;
}

.themeToggleTrackCheck,
.themeToggleTrackX {
  height: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  position: absolute;
}
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 10px;
  font-size: 0.9rem;
}
.themeToggleThumb {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  transition: 0.25s;
}
.themeToggleChecked .themeToggleThumb,
[cds-theme='dark'] .themeToggle .themeToggleThumb {
  left: 27px;
}
.themeToggleScreenReaderOnly {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.themeToggleChecked .themeToggleTrackX,
[cds-theme='dark'] .themeToggle .themeToggleTrackX {
  opacity: 0;
}
